<img class="background-img" src="assets/img/home-bg.png">
<div class="container-body">
  <p class="header">Sign-Up</p>
  <div class="row justify-content-md-center general-container">
    <div class="col-md-6 form-div ">
      <form [formGroup]="personalform" (ngSubmit)="saveForm()" appearance="standard">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="label">
              FirstName:
            </div>
            <input class="form-input" type="text" formControlName="name"/>
          </div>
          <div class="col-md-12">
            <div class="label">
              LastName:
            </div>
            <input class="form-input" type="text" formControlName="surname">
          </div>
          <div class="col-md-12">
            <div class="label">
              Email:
            </div>
            <input class="form-input" type="email" formControlName="email">
          </div>
          <div class="col-md-12">
            <div class="label">
              Password:
            </div>
            <input class="form-input" type="password" formControlName="password">
          </div>
          <div class="col-md-12">
            <div class="label">
              Age:
            </div>
            <input class="form-input" type="number" min=20 max=100 formControlName="age">
          </div>
          <div class="col-md-12">
            <div class="label">
              Phonenumber:
            </div>
            <input class="form-input" type="text" formControlName="phonenumber">
          </div>
          <div class="col-md-12">
            <div class="label">
              Gender:
            </div>
            <select class="form-input" formControlName="gender">
              <option class="form-option" *ngFor="let gender of genders" [value]="gender.value">
                {{gender.name}}
              </option>
            </select>
          </div>
          <div class="col-md-12">
            <div class="label">
              Specialty of Doctor:
            </div>
            <select class="form-input" formControlName="doctorArea">
              <option class="form-option" *ngFor="let dp of doctorArea" [value]="dp.value">
                {{dp.name}}
              </option>
            </select>
          </div>
          <div class="col-md-12">
            <div class="label">
              Birth date:
            </div>
            <input class="form-input form-datepicker" formControlName="birthdate" placeholder="Pick a date" [matDatepicker]="birthdate">
            <mat-datepicker-toggle class="form-datepicker-toggle" matSuffix [for]="birthdate"></mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
          </div>
        </div>
        <br>
        <button class="btn sign-button" type="submit" [disabled]="formDisabled()">Submit</button>
      </form>
      <p class="alert-div" *ngIf="alert_flag">
        <ngb-alert>
          {{alert_message}}
        </ngb-alert>
      </p>
    </div>
  </div>
</div>
