<div class="desktopSettings">
  <div class="topPart" fxLayout="row" fxLayoutAlign="center">
    <div>
      <mat-card class="card-container">Covid 19 Home Page Name</mat-card>
    </div>
  </div>

  <div class="middleSection">
    <div class="content">
      <form [formGroup]="personalform" (ngSubmit)="saveForm()" appearance="standard">
        <mat-form-field>
          <div class="">

            <mat-label>
              FirstName:
              <label>
                <input matInput type="text" formControlName="name"/>
              </label>
            </mat-label>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div class="">
            <mat-label>
              LastName:
              <input matInput type="text" formControlName="surname">
            </mat-label>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div class="">
            <mat-label>
              Email:
              <input matInput type="text" formControlName="email">
            </mat-label>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div class="">
            <mat-label>
              Password:
              <input matInput type="text" formControlName="password">
            </mat-label>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div class="">
            <mat-label>
              Age:
              <input matInput type="text" formControlName="age">
            </mat-label>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field>
          <div class="">
            <mat-label>
              Phonenumber:
              <input matInput type="text" formControlName="phonenumber">
            </mat-label>
          </div>
        </mat-form-field>
        <br>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select matInput formControlName="gender">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Area of Doctor</mat-label>
            <mat-select matInput formControlName="doctorArea">
              <mat-option *ngFor="let dp of doctorArea" [value]="dp.value">
                {{dp.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Birth date</mat-label>
          <input matInput formControlName="birthdate" placeholder="Pick a date" [matDatepicker]="birthdate">
          <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
          <mat-datepicker #birthdate></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-card-actions>
          <button mat-raised-button type="submit" [disabled]="formDisabled()">Submit</button>
        </mat-card-actions>
      </form>
    </div>
  </div>
</div>
