<div *ngIf="connectedServer">
  <img class = "background-img" src="assets/img/home-bg.png">
  <div class="container-body">
    <p class="header">Chat Room of {{this.user=="-" ? 'Doctor' : "Patient ("+this.user+")"}}</p>
    <button type="button" class="btn btn-md btn-outline-danger leave-button" (click)="leave()">Leave</button>
    <div class="messages-div">
      <div *ngFor="let item of messageArray.reverse()">
        <span style="justify-content: end"><strong>{{item.username=="-" ? 'Doctor' : "Patient ("+item.username+")"}} : </strong> {{item.text}}</span>
      </div>
    </div>
  </div>
  <div class="input-div">
    <div class="relative-div">
      <input type="text" class="form-control text-input" [(ngModel)]="messageText" placeholder="Enter your text..." (keydown.enter)="sendMessage()">
      <button type="button" class="btn btn-success pull-right submit-btn" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>

<div *ngIf="!connectedServer">
  <img class = "background-img" src="assets/img/home-bg.png">
  <div class="container-body">
    <h1  class="header">{{this.user=="-" ? 'Patient' : "Doctor"}} Left the Room!</h1>
    <button type="button" class="btn btn-md btn-outline-danger leave-button" (click)="gotoHome()"> Home Page</button>
  </div>
</div>

