<img class="background-img" src="assets/img/home-bg.png">
<div class="container-body">
  <p class="header">Sign-In</p>
  <div class="row justify-content-md-center general-container">
    <div class="col-md-6 form-div ">
      <form [formGroup]="signInForm" (ngSubmit)="saveForm()" appearance="standard">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="label">
              Email:
            </div>
            <input class="form-input" type="email" formControlName="email">
          </div>
          <div class="col-md-12">
            <div class="label">
              Password:
            </div>
            <input class="form-input" type="text" formControlName="password"/>
          </div>
        </div>
        <br>
        <button class="btn sign-button" mat-raised-button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
