.desktopSettings {
  /* Desktop - 1 */
  width: 100%;
  background: #FFFFFF;
}

.container-div{
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  background-color: rgba(255,255,255,0.3);
  border-radius: 200px;
  padding: 60px 0;
  border: 8px;
  border-style: solid;
  border-color: white;
}

.banner-div{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 60px;
}

.banner{
  width: 100%;
}

.button-radius-left{
  border-radius: 20px 40px;
}
.button-radius-right{
  border-radius: 40px 20px;
}

.selection-button{
  background-color: white;
  padding: 40px;
  border: 6px solid #e6890d;
  font-size: 30px;
  font-weight: bold;
  color: rgb(36, 6, 85);
}

.selection-button:hover{
  background-color: #e6890d;
  border: 6px solid white;
  color: white;
}

.selection-button:focus{
  outline: none;
}

.background-img{
  position: fixed;
  overflow: hidden;
  height: inherit;
}
