<div class="desktopSettings">
  <div class="topPart" fxLayout="row" fxLayoutAlign="center">
    <div>
      <mat-card class="card-container">Covid 19 Home Page Name</mat-card>
    </div>
  </div>

  <div class="middleSection" fxLayout="row" fxLayoutAlign="space-around center" >
    <div fxLayoutGap="20px">
      <button mat-button style="color: black; background: gray" (click)="hasta()">
        Are you hasta!!?
      </button>
      <button mat-button style="color: black; background: gray" (click)="doctor()">If you are ready start, Doctor?
      </button>
    </div>
  </div>
</div>
