<div class="desktopSettings">
  <img class = "background-img" src="assets/img/home-bg.png">
  <div class="container-div">
    <div class="banner-div" fxLayout="row" fxLayoutAlign="center">
        <img class = "banner" src="assets/img/home-banner.png">
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div fxLayoutGap="50px">
        <button class="selection-button button-radius-left" (click)="routePatient()">Patient</button>
        <button class="selection-button button-radius-right" (click)="routeDoctor()">Doctor</button>
      </div>
    </div>
  </div>
</div>
